#footer-wrapper{
	background-color: #eeeeee;
}
#navbar-nav{
  background-color: #ef5350;
}
#navbar-nav2{
  background-color: #ffccbc;
}

.esconder{
	display: none;
}

.inicio{
  width: 0%;
}

.final{
  width: 100%;
}

.animacion{
  transition: all 66s ease .5s;
}
